footer {
    width: 100%;
    padding: 30px 10px;
    background-color: var(--color-primary);
}

footer p,
.icons_redes {
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icons_redes p{
    font-size: 30px;
    margin-bottom: 20px;
    transition: 300ms;
    cursor: pointer;
}

.icons_redes p:hover {
    color: #e9e9e9;
}